:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color:#FF8DCB;
  --accent-color: #FF8DCB;
  --page-title-color: #FFC2E6;
  --content-title-color: #353430;
  --title-decor-color: #353430;
  --main-text-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.4);
}

.theme-light .header__rec {
  display: none;
}

.theme-light .header__theme-menu-button {
  color: #353430;
}

.theme-light .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid #353430;
}

.theme-light .header__theme-menu-button_active {
  outline: 1px solid #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color:#FF8DCB;
    --accent-color: #FF8DCB;
    --page-title-color: #FFC2E6;
    --content-title-color: #353430;
    --title-decor-color: #353430;
    --main-text-color: #353430;
    --hover-color: rgba(50, 49, 45, 0.4);
  }
  
  .theme-light .header__rec {
    display: none;
  }
  
  .theme-light .header__theme-menu-button {
    color: #353430;
  }
  
  .theme-light .header__theme-menu-button:focus-visible {
    border-block-end: 1px solid #353430;
  }
  
  .theme-light .header__theme-menu-button_active {
    outline: 1px solid #353430;
  }
}